* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #2B2B2B;
}

h1 {
    color: white;
    font-size: 80px;
}

.greeting{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}


