<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazing app to help you find nearest MBTA station</title>
</head>
<body>
<h1>Hello! This is a Nearest Stop Generator</h1>
<form method="post" name='place_name'>
    <h2>
        Please enter the closest address near you and if you have a preference for your route type input the corresponding value:
    </h2>
    <p>Types of routes:
        <ul style="list-style-type:none;">
        <li>0 - Tram, Streetcar, Light rail. Any light rail or street level system within a metropolitan area.</li>
        <li>1 - Subway, Metro. Any underground rail system within a metropolitan area.</li>
        <li>2 - Rail. Used for intercity or long-distance travel.</li>
        <li>3 - Bus. Used for short- and long-distance bus routes.</li>
        <li>4 - Ferry. Used for short- and long-distance boat service.</li>
        <li>5 - Cable tram. Used for street-level rail cars where the cable runs beneath the vehicle, e.g., cable car in San Francisco.</li>
        <li>6 - Aerial lift, suspended cable car (e.g., gondola lift, aerial tramway). Cable transport where cabins, cars, gondolas or open chairs are suspended by means of one or more cables.</li>
        <li>7 - Funicular. Any rail system designed for steep inclines.</li>
        <li>11 - Trolleybus. Electric buses that draw power from overhead wires using poles.</li>
        <li>12 - Monorail. Railway in which the track consists of a single rail or a beam.</li>
        </ul>
    </p>
    <p>
        Address:<input type="text" name="place">
        Route type<input type="text" name="route_type">
    </p>
    <p><input type="submit" value="Find the nearest station"></p>
</form>
</body>
</html>
