<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <div class="container">
	    <header>
			<h1>MBTA</h1>
			<p>Hello, here you can find the nearest mbta stop</p>
		</header>
        <form action="{{url_for('nearest_mbta')}}" method="POST">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
            <div class="form-group"><label>Address</label><input name="address" class="form-control" type="text" placeholder="Address or place name"></div>
            <div class="form-group"><input type="submit" class="btn btn-primary"></button></div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>