<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
</head>
<style>
    body {
        background-color: aquamarine;
    }
    
    h1 {
        text-align: center;
        font-size: 40pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: yellow;
    }
    p{text-align: center;}
    ul{display: block; margin-left: auto; margin-right: auto;}
</style>
<body>
    <h1>
        Search was unable to process your request.
    </h1>
    <p>
      Location is unrecognized potentially due to:  
    </p>
    <ul>
        <li>
            Invalid location name
        </li>
        <li>
            MBTA does not serve that region.
        </li>
    </ul>
    <a href="{{ url_for('index') }}">
        Link back to Homepage
    </a>
</body>
</html>