<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title> 
  </head>

  <body>
    {% if name %}
    <h1>Hello {{ name }}!</h1>
    {% else %}
    <h1 style= "font-size: 7;">Welcome!</h1> 
    
    {% endif %}
    <h1 style= "font-size:7;">Here is the Train Schedule:</h1> 
    <img src="https://bloximages.chicago2.vip.townnews.com/salemnews.com/content/tncms/assets/v3/editorial/b/bf/bbf12006-62bd-11e7-8604-cb704cfc57ad/595ef4ea23336.preview.jpg?resize=1200%2C776" alt="picture"> 
    

  </body>
</html>
