<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTA Web App</title>
</head>

<body>
    <h1>MBTA Web App</h1>
    <form method = "POST" name="search">
        <p>
            Please enter where you would like to search:
        </p>
        <p>
            <!-- <input type="text" size = "4" name="location"/> -->
            <!-- <input type="int" size = "4" name="rad"/> -->
            <input type="submit" value="tadaaaa"/>
        </p>
    </form>

</body>

</html>