<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nearest MBTA station</title>
</head>
<body>
    <h1>Where is your location?</h1>
    <form method="POST" name="nearest_mbta">
      {% if error %}
      <p style="color:red">This location is invalid.</p>
      {% endif %}
      <p>
        Please enter your location:
      </p>
      <p>
        <input type="text" size="35" name="location" />
      </p>
      <p>
        <input type="submit" value="Go" />
      </p>
    </form>    
</body>
</html>