<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
        text-align: center;
        background-color: blanchedalmond;
      }
      h1 {
        color: crimson;
      }
      p {
        text-align: center;
      }
      img {
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body>
    <div class="jumbotron">
      <center><h1>MBTA Finder: Find the Closest T Stop Near You!</h1></center>
    </div>
    <div class="row">
      <div class="col-3">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/MBTA.svg/1200px-MBTA.svg.png"
          height="300"
          width="300"
        />
      </div>
      <div class="col-6">
        <p>The closest station is {{ station }}</p>
        <p>{{ explanation }}</p>
        <form method="POST" action="/">
          <input
            class="btn btn-primary"
            type="submit"
            value="Enter another location"
          />
        </form>
      </div>
      <div class="col-3">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/MBTA.svg/1200px-MBTA.svg.png"
          height="300"
          width="300"
        />
      </div>
    </div>
  </body>
</html>
