<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazing app to help you find nearest MBTA stop</title>
</head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">

<body>
    <div class="main" style="background-image: url('./static/images/boston.jpg')">
        <div>Closest stop is <b>{{ stop_name }}</b>.</div>
        {% if wheelchair_accessible %}
            <div>This stop is <b>wheelchair accessible</b>.</div>
        {% else %}
            <div>This stop is <b>not wheelchair accessible</b>.</div>
        {% endif %}
        <a href="/">Back to home</a>
    </div>
</body>
</html>
