<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Write-Up</title>
</head>
<body>
    <h1>Project Writeup and Reflection:</h1>
    <h3>Project Overview</h3>
    <p>With the foundation of python and recent introduction to utilizing API, JSON processing, and Web App Development using flask library, 
        the project’s object was to use these tools to create a website that outputs the nearest MBTA location and its wheelchair accessibility 
        given the location input. </p>
    <h3>Project Reflection</h3>
    <p>Overall, I have achieved the goal of creating a functional website that gives a nearest MBTA station given the location. 
        I was able to successfully incorporate html and python, specifically flask library, where I created forms for an input that leads to an output.
        Now that I was able to create this website, something I can improve on is to develop the website further to create more detailed and more dynamic
        website that could possibly give more of other outputs. </p>
</body>
</html>