<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTA Helper</title>
</head>
<body>
    <h1 style = "text-align: center">MBTA Station Locator</h1>
    <p style = "text-align:center;font-family:georgia,garamond,serif;font-size:20px;font-style:bold;">
        Here, you can find the location of the nearest MBTA Station as well as other useful information
    </p>
    <body style = "background-color: beige;">
    <p style="text-align:center;">
    <img src = "train.png" alt="Train Station" width="500" height="500"class= "center";/>
    <iframe width="500" height="500"
    src= "https://www.youtube.com/watch?v=pklc0EmJUww">
    </iframe>
    <form action="#" method = "POST">
        <p style="text-align:center;">Location <input type = "text" name = "location_name" /></p>
        <p style="text-align:center;"><input type = "submit" value = "submit"/> </p>
    </form>
    </p>

</body> 
</html>
