<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazing app to help you find nearest MBTA station</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <p>Hello, this website will help you find nearest MBTA station!</p>
    <span style="display:inline-block; width: 200px; height: 100px"></span>
    <form method="POST" name="mbta_station" action = '{{ url_for("form")}}'>
        <p>Your address: <input type = "text" name = "place_name" id = "place_name"></p>
        <p>Radius(in miles): <input type="number" step="0.1" name = "radius" id = "radius"></p>
        <p>Route Type: <select name = "route_type" id = "route_type">
            <option value = "0">Light Rail</option>
            <option value = "1">Heavy Rail</option>
            <option value = "2">Commuter Rail</option>
            <option value = "3">Bus</option>                
            <option value = "4">Ferry</option>
        </select>
        <p><input type = "submit" value = "submit" /></p>
       
    </form>



</body>
</html>


